body {
  border-style: none;
}

div.form-field {
  margin-bottom: 10px;
}

.info {
  margin-bottom: 20px;
}

.password-and-Email {
  margin-bottom: 20px;
}

.aboutYou {
  margin-bottom: 20px;
}

.addInfo {
  margin-bottom: 20px;
}
