body {
  border-style: none;
}

div.form-field {
  margin-bottom: 10px;
}

fieldset.info {
  margin-bottom: 20px;
}

fieldset.password-and-Email {
  margin-bottom: 20px;
}

fieldset.aboutYou {
  margin-bottom: 20px;
}

fieldset.addInfo {
  margin-bottom: 20px;
}
