body {
  border-style: none;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.info {
  margin-bottom: 20px;
}

.password-and-Email {
  margin-bottom: 20px;
}

.aboutYou {
  margin-bottom: 20px;
}

.addInfo {
  margin-bottom: 20px;
}
